:root {
    --main-color: #fd5d44;
    --hover-color: #ed5a42;
    --blue: #219ebc;
    --hover-blue: #1989a5;
    --background-color: #f1f2f8;
    --gray: #4b4d50;
    --lightgray: #6d7075;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
}
  
  .sidebar a {
    height: 40px;
    width: 160px;
    text-decoration: none;
    font-size: 20px;
    color: var(--gray);
    display: block;
    margin: auto;
    margin-bottom: 5px;
    display: flex;
    padding-left: 30px;
    align-items: center;
    border-radius: 20px;
  }
  
  .sidebar a:hover {
    background-color: #f1f1f1;
  }


.middle_column {
    flex: 1;
    min-width: 800px;
    max-width: 1000px;
    padding: 20px;
    overflow-y: auto; 
    position: relative;
	display: block;
}

.topic_banner {
    height: 150px; 
    background-color: white;
    position: relative; 
    margin-bottom: 10px; 
    border-radius: 15px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.post {
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    min-height: 100px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    position: relative;
    overflow: hidden;
}


.add-post-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
}

.topic_nav {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}

.tab {
    width: 240px;
    height: 40px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);

}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.1s;
    color: #000; 
    width: 80px;
    height: 40px;
    border-radius: 20px;
    font-size: 18px;

}

.tab button.active {
    background-color: var(--main-color); 
    color: #fff;
}

.tab button.active:hover {
    background-color: var(--hover-color);
}

.content {
    display: none;
    padding-top: 10px;
    overflow-y: auto;
    
}

.content.active {
    display: block;
    
}

.create_button {
    background-color: inherit;
    float: right;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.1s;
    color: white; 
    width: 150px;
    height: 40px;
    border-radius: 20px;
    font-size: 18px;
    background-color: var(--main-color);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);

}

.create_button:hover {
    background-color: var(--hover-color);
}


.topic_profile_picture {
    width: 100px; 
    height: 100px; 
    border-radius: 50%;
    background-color: #fff; 
    border: 2px solid #fff; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
    margin-top: -70px;
    position: relative;
    overflow: hidden;
  }

.profile_and_name {
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 30px;
    font-weight: 600;
}

.topic_nav_name {
    font-size: 28px;
    font-weight: 550;
    padding-left: 10px;
}

#banner {
    width: 100%; 
  height: auto; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.load_button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.1s;
    color: white; 
    width: 200px;
    height: 40px;
    border-radius: 20px;
    font-size: 18px;
    background-color: var(--main-color);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    margin-left: 40%;

}

.load_button:hover {
    background-color: var(--hover-color);
}

.thread_title {
    font-size: 24px;
    font-weight: 600;
}

.thread_user {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.comment_profile_icon {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.thread_content {
	margin-bottom: 40px;
	overflow: hidden;
	
}

.thread_bottom_nav {
    display: flex;
    padding-top: 20px;
    gap: 20px;
    height: 30px;
	align-items: center;
	bottom: 5;
	position: absolute;
	width: 100%;
	font-size: 16px;
}

.thread_vote {
	width: 90px;
	height: 30px;
	display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    gap: 10px;
}

.upvote:hover {
    fill: var(--main-color);
}

.downvote:hover {
    fill: var(--blue);
}

.thread_comment_count {
    height: 30px;
    font-size: 16px;
    width: 120px;
	display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    gap: 10px;
}

.thread_share_container {
	height: 30px;
    font-size: 16px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    gap: 10px;
	
}

.thread_share_container:hover {
	background-color: var(--background-color);

}

.post_date {
    margin-left: auto;
    margin-right: 25px;
}

.post_date > span {
    font-size: 14px;
}

.smaller_gray_font {
	font-size: 14px;
	color: var(--gray);
}

.thread_vote:hover {
	background-color: var(--background-color);

}

.board_image_container {
	overflow: hidden;
}

.board_cover_image {
	object-fit: contain;
     width: 100%;
    height: 100%;
    border-radius: 25px;
    margin-top: 10px;
}

.thread_topic {
	display: flex;
	width: 100%;
}

.flair {
height: 30px; 
margin: 5px;
padding-left: 10px;
padding-right: 10px;
border-radius: 15px;
display: flex;
justify-content: center;
align-items: center;
color: #fff;
font-size: 14px;
box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);

}

   .upvoted {
     color: var(--main-color); 
 }
 .downvoted {
     color: var(--blue); 
 }
