:root {
    --main-color: #fd5d44;
    --hover-color: #ed5a42;
    --blue: #219ebc;
    --hover-blue: #1989a5;
    --background-color: #f1f2f8;
    --gray: #4b4d50;
    --lightgray: #6d7075;
}


body {
    font-family: 'Poppins', sans-serif;
    background-image: url('/images/background_3.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 1000px;
}

.login_container {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding-top: 20px;
    width: 400px;
    height: 450px;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 100;
    transition: all 0.15s;


}
.title-text{
    display: flex;
    width: 200%;
  }

.login_container .title{
width: 50%;
font-size: 35px;
font-weight: 600;
text-align: center;
transition: all 0.5s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.slide-controls{
    position: relative;
    display: flex;
    height: 50px;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    justify-content: space-between;
    border: 1px solid lightgrey;
    border-radius: 25px;
}

.slide-controls .slide{
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: 520;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.2s ease;
  }

.slide-controls label.signup{
    color: #000;
}

.slider-tab{
    position: absolute;
    height: 100%;
    width: 50%;
    z-index: 0;
    border-radius: 25px;
    background: var(--main-color);
}


.form-container{
    overflow: hidden;
}

.form-inner{
    display: flex;
    width: 800px;
}


.form-container .form-inner form{
    box-sizing: border-box;
    width: 50%;
    padding: 30px;
    transition: all 0.5s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.login_container input[type="text"] {
    width: calc(100% - 20px);
    padding: 16px;
    margin-bottom: 10px;
    border: None;
    border-radius: 27px;
    box-sizing: border-box;
    font-size: 20px;
    position: relative;
    background-color: #EAEDEF;
    outline: none;
}

.login_container input[type="password"] {
    width: calc(100% - 20px);
    padding: 16px;
    margin-bottom: 10px;
    border: None;
    border-radius: 27px;
    box-sizing: border-box;
    font-size: 20px;
    position: relative;
    background-color: #EAEDEF;
    outline: none;
    padding-right: 60px;


}

.field_button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 45%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #262626;
}
.login_button, .signup_button {
    background-color: var(--main-color);
    color: #fff;
    padding: 15px 0;
    border: none;
    border-radius: 27px;
    width: 100%;
    cursor: pointer;
    font-size: 20px;
}
.login_button:hover, .signup_button:hover {
    background-color: var(--hover-color);
}
.create_account {
    margin-top: 30px;
}

.field_container {
    position: relative;
    height: 64px;
}

.forgot {
    margin-top: 10px;
    font-size: 16px;
    margin-bottom: 30px;
}

.forgot > a {
    text-decoration: none;
    color: blue;
}

.forgot > a:hover {
    text-decoration: underline;
}

.create_account > a {
    text-decoration: none;
    color: blue;

}

.blue_link {
    text-decoration: none;
    color: blue;
    cursor: pointer;
}

.blue_link:hover {
    text-decoration: underline;
}

.create_account > a:hover {
    text-decoration: underline;
}

.login_footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.login_footer > ul > li {
    float: left;
    margin-left: 15px;

}

.login_footer > ul > li > a{
    text-decoration: none;
    color: black;
}

.login_footer > ul > li > a:hover{
    text-decoration: underline;
}

#logo_icon {
    width: 174px;
    filter:drop-shadow(0.5px 0.5px 2px); 
    
}


.login_header {
    position: fixed;
    top: 20px;
    width: 100%;
    display: flex;
    margin-left: 70px;
}

input[type="radio"]{
    display: none;
}

#signup:checked ~ .slider-tab{
left: 50%;
}
#signup:checked ~ label.signup{
color: #fff;
cursor: default;
user-select: none;
}
#signup:checked ~ label.login{
color: #000;
}
#login:checked ~ label.signup{
color: #000;
}
#login:checked ~ label.login{
cursor: default;
user-select: none;
}

.tac_container {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;

}

#tac_checkbox {
    width: 18px;
    height: 18px;
    vertical-align: middle;
}

.dialogue_box {
    position: absolute;
    display: block;
    padding: 1em 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 0.5em;
    background-color: #fff;
    text-align: center;
    margin-left: 220px;
    z-index: 200;

    }

.dialogue_box::before {
    position: absolute; 
    width: 1em;
    height: 1em;
    left: calc( -0.7em + 4px );
    transform: rotate( -135deg );
    background-color: #fff;
    content: '';
    z-index:199;
    
}

.email_requirements.dialogue_box::before {
    position: absolute; 
    width: 1em;
    height: 1em;
    left: calc( -0.7em + 4px );
    transform: rotate( -135deg );
    background-color: #fff;
    content: '';
    z-index:199;
    margin-top: 38px;
    
}

.error_messages {
    position: absolute;
    display: none;
}

.email_exists {
    margin-top: -136px;
    width: 18em;
    display: none;

}

.username_exists {
    margin-top: -70px;
    width: 16em;
    display: none;

}

.invalid_password {
    margin-top: 25px;
    width: 17em;


}   

.password_mismatch {
    margin-top: 90px;
    width: 14em;
}

.check_tac {
    margin-top: 158px;
    width: 20em;
    display: none;
}


.password_requirements {
    margin-top: 31px;
    width: 16em;
    text-align: left;
    padding-left: 10px;
    display:none;

}

.username_requirements {
    margin-top: -75px;
    width: 16em;
    text-align: left;
    padding-left: 10px;
    display:none;

}

.email_requirements {
    margin-top: -180px;
    width: 12em;
    text-align: left;
    padding-left: 10px;
    display:none;

}


.tick_icon {
    width: 16px;
    height: 16px;
}

#char_req {
    display: flex;
    align-items: center; 
    margin-bottom: 5px;

}

#num_req {
    display: flex;
    align-items: center; 
}

#username_char_req {
    display: flex;
    align-items: center; 
    margin-bottom: 5px;

}

#username_unique_req {
    display: flex;
    align-items: center; 
}

#email_valid_req {
    display: flex;
    align-items: center; 
    margin-bottom: 5px;

}

#email_unique_req {
    display: flex;
    align-items: center; 
}

.tac_dialogue_box {
    position: absolute;
    display: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background-color: #fff;
    text-align: center;
    margin-left: 220px;
    z-index: 300;
    width: 500px;
    height: 650px;
    margin-top: -350px;
    padding-top: 10px;
    }

.tac_dialogue_box::before {
    position: absolute; 
    width: 1em;
    height: 1em;
    left: calc( -0.7em + 4px );
    transform: rotate( -135deg );
    background-color: #fff;
    content: '';
    z-index:299;
    margin-top: 518px;

}


.tac_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tac_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--background-color);
    height: 40px;
    margin-left: 15px;
    margin-right: 15px;
}

.tac_top b {
    font-size: 24px;
}

.tac_top:first-child {
    margin-left: 120px;
}


#tac_exit {
    margin-left: auto;
    margin-right: 10px;
    border-radius: 15px;
}

#tac_exit:hover {
    background-color: var(--background-color);

}

.tac_text {
    height: 540px;

    overflow-y: auto;
    padding: 10px;
    text-align: left;

}

.tac_button {
    width: 90px;
    height: 40px;
    border-radius: 20px;
    border: none;
    margin-top: 20px;
    font-size: 18px;
}

.tac_button.accept {
    background-color: var(--main-color);
    color: white;

}

.tac_button.accept:hover {
    background-color: var(--hover-color);
}

.tac_button.decline {
    color: var(--gray);
    background-color: white;
    border: 2px solid var(--gray);
}

.tac_button.decline:hover {
    background-color: var(--background-color);
}


.popup {
    display: none;
    position: fixed; 
    z-index: 500; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
  }
  
  .popup-content {
    background-color: #fefefe;
    margin: 250px auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 400px; 
    height: 300px; 
    border-radius: 25px;
    position: relative;
    font-size: 20px;
    line-height: 1.3;
  }
  

#got_it_button {
    position: absolute;
    bottom: 20px; 
    right: 20px; 

    width: 90px;
    height: 40px;
    border-radius: 20px;
    border: none;
    margin-top: 20px;
    font-size: 18px;

    background-color: var(--main-color);
    color: white;
  }



#got_it_button:hover {
    background-color: var(--hover-color);
}
