<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">
	
	<select id="selectBoardList" resultType="BoardDto" parameterType="map">
		select BOARD_ID, TOPIC_ID, USER_ID, UPVOTE, DOWNVOTE, TITLE, CONTENT, to_char(POST_TIME,'yyyy-mm-dd hh24:mi'),VIEWS 
			from (select t1.*, rownum rn  
				from (SELECT BOARD_ID, TOPIC_ID, USER_ID, UPVOTE, DOWNVOTE, TITLE, CONTENT, POST_TIME,VIEWS FROM BOARD order by board_id desc) t1 )
		where rn between #{startRownum} and #{endRownum}
	</select>
	
	
	<select id="selectOne" resultType="BoardDto" parameterType="int">
		SELECT BOARD_ID, TOPIC_ID, USER_ID, UPVOTE, DOWNVOTE, TITLE, CONTENT, POST_TIME,VIEWS 
		FROM BOARD WHERE BOARD_ID=#{boardId}
	</select>
	
	<select id="selectTotalCount" resultType="int">
		select count(*) cnt from board
	</select>
	

	<insert id="insert" parameterType="BoardInsertDto">
		INSERT INTO BOARD (BOARD_ID, TOPIC_ID, USER_ID, TITLE, CONTENT) 
			VALUES (SEQ_BOARD_ID.nextval, #{topicId}, #{userId}, #{title}, #{content}) 
	</insert>
	
	
	<delete id="delete"  parameterType="int">
		DELETE FROM BOARD WHERE BOARD_ID=#{boardId}
	</delete>
	
		
	<select id="getSequenceNum" resultType="int">
	SELECT SEQ_BOARD_ID.nextval seq FROM DUAL
	</select>
	
	<update id="updateReadCount"  parameterType="int">
		update board set views=views+1 where board_id=#{boardId}
	</update>
	
</mapper>





















