<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">
	
	
 	<select id="selectBoardListAll" resultType="BoardDto" parameterType="map">
        SELECT BOARD_ID, TOPIC_ID, USER_ID, UPVOTE, DOWNVOTE, TITLE, CONTENT, POST_TIME,VIEWS, COMMENTS  FROM BOARD
        
          <where>
		    <foreach item="item" index="index" collection="list"
		        open="TOPIC_ID in (" separator="," close=")">
		          #{item}
		    </foreach>
  		</where>
           ORDER BY POST_TIME DESC 
	</select>
	

	
	<select id="selectOne" resultType="BoardDto" parameterType="int">
		SELECT BOARD_ID, TOPIC_ID, USER_ID, UPVOTE, DOWNVOTE, TITLE, CONTENT, POST_TIME,VIEWS, COMMENTS 
		FROM BOARD WHERE BOARD_ID=#{boardId}
	</select>
	
	
	<select id="selectTotalCount" resultType="int">
		select count(*) cnt from board
	</select>
	

	<insert id="insert" parameterType="BoardInsertDto">
		INSERT INTO BOARD (BOARD_ID, TOPIC_ID, USER_ID, TITLE, CONTENT) 
			VALUES (#{boardId}, #{topicId}, #{userId}, #{title}, #{content}) 
	</insert>
	
	
	<delete id="delete"  parameterType="int">
		DELETE FROM BOARD WHERE BOARD_ID=#{boardId}
	</delete>
	
		
	<select id="getSequenceNum" resultType="int">
	SELECT SEQ_BOARD_ID.nextval seq FROM DUAL
	</select>
	
	<update id="updateViewCount"  parameterType="int">
		update board set views=views+1 where board_id=#{boardId}
	</update>
	
	<update id="updateCommentCount"  parameterType="int">
		update board set comments=comments+1 where board_id=#{boardId}
	</update>
	
	<update id="upvote"  parameterType="Integer">
		update board set upvote=upvote+1 where board_id=#{boardId}
	</update>
	
	<update id="downvote"  parameterType="Integer">
		update board set downvote=downvote+1 where board_id=#{boardId}
	</update>
	

	<select id="selectCommentList" resultType="BoardCommentDto" parameterType="int">
		select BOARD_ID, USER_ID, CONTENT, to_char(POST_TIME,'yyyy-mm-dd hh24:mi'), UPVOTE, DOWNVOTE
			FROM BOARD_COMMENT WHERE BOARD_ID=#{boardId}
	</select>
	

	
	
	<insert id="insertComment" parameterType="BoardInsertCommentDto">
		INSERT INTO BOARD_COMMENT (COMMENT_ID, BOARD_ID, USER_ID, CONTENT) 
			VALUES (SEQ_COMMENT_ID.nextval, #{boardId}, #{userId}, #{content}) 
	</insert>
	
	<select id="selectBoardListNew" resultType="BoardDto" parameterType="String">
		SELECT BOARD_ID, TOPIC_ID, USER_ID, UPVOTE, DOWNVOTE, TITLE, CONTENT, POST_TIME, VIEWS, COMMENTS 
            FROM BOARD 
            WHERE TOPIC_ID = #{topicId}  
            ORDER BY POST_TIME DESC 
	</select>
	
	<select id="selectBoardListTop" resultType="BoardDto" parameterType="String">
        SELECT BOARD_ID, TOPIC_ID, USER_ID, UPVOTE, DOWNVOTE, TITLE, CONTENT, POST_TIME, VIEWS, COMMENTS 
            FROM BOARD 
            WHERE TOPIC_ID = #{topicId}  
            ORDER BY (UPVOTE - DOWNVOTE) DESC 
	</select>
	
	
</mapper>





















