<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper  namespace="topicMapper">
	
	<select id="checkTopic" parameterType="string" resultType="int">
		SELECT COUNT(*) c FROM TOPIC WHERE TOPIC_ID=#{topicId}
	</select>
	
	<select id="selectTopic" parameterType="string" resultType="TopicDto">
	SELECT * FROM TOPIC WHERE TOPIC_ID=#{topicId}
</select>

</mapper>